.hero {
   
   &__container {
      padding: 21px 24px;
      background: #FFFFFF;
      box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
      border-radius: 5px;
   }

   &__list {
      display: flex;
      justify-content: space-between;
   }

   &__item {
      
      &--linc {
         font-weight: 500;
         font-size: 19px;
         color: $black;
      }
   }
}